* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-container {
  height: 100vh;
}

.sidebar {
  background-color: rgb(43, 76, 148);
  height: 50vh;
  margin-right: 10px;
}
.sideName {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
}
.adBar {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.login-container {
  min-height: 60vh;
}

.form-login-container {
  width: 500px;
}

.btn-logout {
  border: 1px solid grey;
  background-color: rgb(118, 135, 151);
  width: 60%;
  border-radius: 4px;
}

.btn-logout:hover {
  background-color: whitesmoke;
}
